<div class="d-flex justify-content-center mt-5 ml-5 mr-5">
  <div class="d-flex align-items-center flex-column">
    <h1>Wild Magic!</h1>
    <h2>Effect</h2>
    <p class="text-center mt-5 mb-5" id="magic-effect">
      <%= @current_effect %>
    </p>

    <%= button_to 'Roll new effect',
        root_path,
        remote: true,
        form_class: 'form',
        class: 'btn btn-primary'
    %>

    <a
      href="<%= github_url %>"
      class="mt-5 fa fa-github"
      target="_blank"
      rel="noopener noreferrer"
    >
    </a>
  </div>
</div>
